{% extends "base.html" %}

{% block head %}
<title>About</title>
{% endblock %}

{% block body %}
<div class="container">
    <br>
    <hr>
    <h3 class="text-white text-center">Hi I'm Fadhil kolakkadan</h3>
    <div class="row">
        <div class="col-8 my-5">
            <img src="https://images.unsplash.com/photo-1544890225-2f3faec4cd60?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=925&q=80"
                 class="rounded-float-center  d-block">

        </div>
        <div class="col-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">im fed up</div>
                <div class="card-body">
                    <p class="card-text display-4 ">THANK YOU SO MUCH FOR EVEN CHECKING OUT THIS PAGE</p>
                </div>
            </div>
            <div class="card text-white bg-secondary">
                <div class="card-header">im fed up</div>
                <div class="card-body">
                    <p class="card-text display-4 ">TO BE HONEST NOBODY, EVEN I DONT CARE AT THIS POINT</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row text-white">
                <div class="col-lg-4">
                    <img class="rounded-circle"
                         src="https://source.unsplash.com/random/140x140"
                         alt="Generic placeholder image" width="140" height="140">
                    <h2>led by</h2>
                    <p>well duh, just me.</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle"
                         src="https://source.unsplash.com/random/140x141"
                         alt="Generic placeholder image" width="140" height="140">
                    <h2>front end stuff by</h2>
                    <p>again me</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <img class="rounded-circle"
                         src="https://source.unsplash.com/random/200x200"
                         alt="Generic placeholder image" width="140" height="140">
                    <h2>backend stuff</h2>
                    <p>only me coz i have no frens :'(</p>
                    <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>


        </div>
    </div>
    {% endblock %}